* {
  padding: 0;
  margin: 0;
}

:root {
  color: #f6f6f6;
  background-color: #2f2f2f;
}

html,
body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 0;
  display: grid;
  place-items: center;
}

#app {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}