name: Build Android App
on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: read
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
          version: 1.0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
          cache-dependency-path: './mobile/package-lock.json'

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust Cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './mobile/src-tauri -> target'

      - name: Install Frontend Dependencies
        run: npm ci
        working-directory: mobile

      - name: Build APKs
        run: npm run tauri android build --debug
        working-directory: mobile

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./mobile/src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-unsigned.apk
          generate_release_notes: true